@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    background-color: #21054D;
    position: relative;
}

.menuToggle {
    width: 65px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/assets/img/icon-bars.svg);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    &--opened {
        background-image: url(/assets/img/icon-close.svg);

        ~.globalNavi {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1;
            visibility: visible;
        }
    }
}

.globalNavi {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #642390;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 300ms;

    li {
        padding: 0.5rem 0;
    }

    a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        display: block;
        position: relative;

        &:after {
            content: '';

            &:hover {
                width: 100%;
            }
        }
    }
}

@media (min-width: 900px) {
    .menuToggle {
        display: none;
    }

    .globalNavi {
        width: auto;
        height: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        opacity: 1;
        visibility: visible;
        position: static;

        li {
            padding: 0 0.75rem;
        }
    }
}

.contents {
    margin-bottom: 5rem;
}

.contentsHeader {
    margin-bottom: 7.5rem;
    height: 175px;
    background-color: #030128;
    background: url(/assets/img/hero.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__ja {
        font-size: 0.9rem;
    }

    &__en {
        font-size: 2rem;
    }
}

footer {
    background-color: #120E19;
}

.footerNavi {
    margin: 0 0 1rem 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        padding: 0 1rem;
    }

    a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
}

.copyright {
    text-align: center;
    color: #A798B7;
    font-size: 0.75rem;
}
